/* Soluzione qui */

/*l'immagine nella descrizione della ricetta viene circondata dal testo anche su mobile 
ma solo se c'è spazio sufficiente, quindi a partire da 576px*/
@media screen and (min-width: 576px) {
    .presentation img {
        /*float per far scorrere il testo attorno all'immagine.*/
        float: left;
        margin-right: 20px;
        margin-bottom: 10px;
        /*margine per parole distanti dalle foto*/
    }

    /*I bottoni social si allagano già su dispositivi mobile più grandetti (576px)*/
    .social-networks .btn {
        flex: 1;
    }
}

/* TABLET */